.jp-cellTags-unselected-tag, .jp-cellTags-tag-add, .jp-cellTags-selected-tag{
    box-sizing: border-box;
    border-radius:20px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin:4px;
    width:fit-content;
}
.jp-cellTags-selected-tag {
    color: white;
    background-color: #2196F3;
}
.jp-cellTags-unselected-tag {
    background-color: #E2E2E2;
}
.jp-cellTags-tag-add {
    background-color: white;
    border: 1px solid #828282;
    max-width: 95%;
}
.tag-icon {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom:-1px;
    height: 13px;
}
.input-icon {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom:-1px;
    height: 13px;
}

.jp-cellTags-tag-input{
    padding: 0px;
    color:#828282;
    font-size: 12px;
    width: 50px;
    min-width: 50px;
    border: none;
    outline: none;
    resize: horizontal;
    max-width: 100%;
}
.jp-cellTags-rename-input {
    background: transparent; 
    border: none;
    outline: none; 
    font-size: 13px;
    padding:0px;
    color:white;
    width:fit-content;
}
.add-tag-box {
    color: #828282;
}


.tag-holder {
    display: flex;
    flex-wrap:wrap;
    padding:4px;
    height:fit-content; 
    margin-bottom: 20px;
}
.tag-header {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-size: 13px;
}
.tag-sub-header {
    padding-left:10px;
    margin-bottom: 3px;
    color: black;
}
.tag-header-hr {
    height:0;
    border:0; 
    border-top:1px solid #E2E2E2; 
    padding-top: 0px;
    margin-top:0px;
} 
.tag-operations-option, .tag-operations-no-selected{
    padding:5px;
    padding-left: 10px;
    font-size:13px;
    width:100%;
}
.tag-operations-option:hover { 
    background-color: #EEEEEE;
}
.tag-operations-no-selected {
    color:#A8A8A8;
    font-weight: lighter;
}

.jp-CellTools-tool {
    overflow: visible;
}
.jp-CellTools {
    overflow-y: auto;
}
.jp-ActiveCellTool {
    min-height: 54px;
}

#bottom {
    margin-bottom:20px;
}