.jp-cellTags-tag-label-div {
    box-sizing: border-box;
    background-color: #E2E2E2;
    border-radius:12px;
    padding:6px;
    margin:4px;
    width:fit-content;
}

.jp-cellTags-selected-tag-label-div {
    box-sizing: border-box;
    background-color: #2196F3;
    border-radius:12px;
    padding: 6px;
    margin:4px;
    width:fit-content;
}

.tag-holder {
    display: flex;
    flex-wrap:wrap;
    padding:4px;
    height:fit-content; 
}

.tag-header {
    text-transform: uppercase;
    font-size: 11pt;
}

.tag-header-hr {
    color: #E0E0E0;
    background-color:#E0E0E0;
}

.tag-section {
    margin-bottom: 10px;
}