.jp-cellTags-tag-label-div {
    box-sizing: border-box;
    background-color: #E2E2E2;
    border-radius:160px;
    padding:6px;
    padding-left: 14px;
    padding-right: 14px;
    margin:4px;
    width:fit-content;
}

.jp-cellTags-tag-input-div {
    box-sizing: border-box;
    background-color: white;
    border-width: 1px;
    border-color: gray;
    border-radius:160px;
    padding:6px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 4px;
    width: 100px;
}

.jp-cellTags-tag-input {
    min-width: 50px;
    resize: horizontal;
}

.jp-cellTags-tag-input:active {
    width: auto;
}

.jp-cellTags-selected-tag-label-div {
    color: white;
    box-sizing: border-box;
    background-color: #2196F3;
    border-radius:160px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    margin:4px;
    width:fit-content;
}

.tag-holder {
    display: flex;
    flex-wrap:wrap;
    padding:4px;
    height:fit-content; 
}

.tag-header {
    padding: 2px;
    text-transform: uppercase;
    font-size: 10pt;
}

.tag-header-hr {
    border-color: #E0E0E0;
}

.tag-section {
    margin-bottom: 10px;
}